@page "/counter"

@using PlayTogether.Web.Services
@inject ClickerService Clicker


<div class="clicker-container">

    <h1>🍉 Clicker</h1>

    <h2>Clicks: @Clicker.Clicks</h2>


    <div class="melon-area">

        @foreach (var melon in melons)
        {
            <span class="melon-fly">@melon</span>
        }   


        <button class="click-button" @onclick="Click">
            <img src="/images/wassermelonen.png" alt="Click Button" />
        </button>

    </div>


    <p>Pro Klick: @Clicker.ClickPower</p>

    <a href="/shop">🛒 Shop öffnen</a>

</div>


@code {

    private List<string> melons = new();


    private async Task Click()
    {
        Clicker.AddClick();

        melons.Add("");

        await Task.Delay(800);

        melons.RemoveAt(0);
    }

}