@page "/CreateLobby"

@using PlayTogether.Web.Services
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject LobbyService Lobby
@inject NavigationManager Navigation
@inject ProtectedLocalStorage ProtectedLocalStorage

<h3>Create Lobby</h3>

<p>Spieler: @PlayerName</p>

<p>Lobby Name:</p>
<input type="text" maxlength="15" @bind="lobbyname" />

<p>Lobby Code:</p>
<input type="text" @bind="code" />

@if (showError)
{
    <p class="error-text">@errorMessage</p>
}

<br /><br />

<button class="btn btn-success" @onclick="Create">
    Create
</button>

<p> </p>

<a href="/LobbyList">Zurück zur Auswahl</a>



@code {
    string lobbyname = "";
    string code = "";
    bool showError = false;
    string errorMessage = "";

    private void Create()
    {
        if (string.IsNullOrWhiteSpace(lobbyname))
        {
            errorMessage = "Bitte einen Lobby-Namen eingeben!";
            showError = true;
            return;
        }

        if (lobbyname.Length > 15)
        {
            errorMessage = "Lobby-Name darf maximal 15 Zeichen lang sein!";
            showError = true;
            return;
        }

        showError = false;
        Lobby.CreateLobby(lobbyname, code);

        Navigation.NavigateTo("/LobbyList");
    }
    
    
    private string PlayerName = "";
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var result = await ProtectedLocalStorage.GetAsync<string>("username");
            if (result.Success &&  result.Value != null)
            {
                PlayerName = result.Value;
                
            }
            else {
                Navigation.NavigateTo("/");
            }
        }
    }
    
}