@page "/CreateLobby"
<h3>CreateLobby</h3>

<p> Lobby name: </p>
<input type="text" name="Lobby name" value=""/>
<p>  </p>
<p> Lobby code: </p>
<input type="text" name="join code" value=""/>
<p>  </p>
<button class="click-button" @onclick="create" > create </button>

@code {

    private void create()
    {
        
    }
    
}