@page "/CreateLobby"

@using PlayTogether.Web.Services
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject LobbyService Lobby
@inject NavigationManager Navigation
@inject ProtectedLocalStorage ProtectedLocalStorage

<h3>Create Lobby</h3>

<p>Spieler: @PlayerName</p>

<p>Lobby Name:</p>
<input type="text" @bind="lobbyname" />

<p>Lobby Code:</p>
<input type="text" @bind="code" />

<br /><br />

<button class="btn btn-success" @onclick="Create">
    Create
</button>

<p> </p>

<a href="/LobbyList">Zurück zur Auswahl</a>



@code {
    string lobbyname = "";
    string code = "";

    private void Create()
    {
        Lobby.CreateLobby(lobbyname, code);

        Navigation.NavigateTo("/LobbyList");
    }
    
    
    private string PlayerName = "";
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var result = await ProtectedLocalStorage.GetAsync<string>("username");
            if (result.Success &&  result.Value != null)
            {
                PlayerName = result.Value;
                
            }
            else {
                Navigation.NavigateTo("/");
            }
        }
    }
    
}