@page "/"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Microsoft.AspNetCore.WebUtilities

@inject ProtectedLocalStorage ProtectedLocalStorage
@inject NavigationManager Navigation


<h1>🎮 Willkommen bei PlayTogether</h1>

<p>Gib deinen Namen ein:</p>

<input class="form-control"
       placeholder="Spielername"
       @bind="PlayerName" />

<br />

<button class="btn btn-primary" @onclick="Start">
    Start
</button>


@code {

    private string PlayerName = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
            bool wantsChange = QueryHelpers.ParseQuery(uri.Query)
                .TryGetValue("change", out var value) && value == "true";

            if (wantsChange)
            {
                return; // bleibt auf "/", keine automatische Weiterleitung
            }

            var result = await ProtectedLocalStorage.GetAsync<string>("username");
            if (result.Success)
            {
                Navigation.NavigateTo("/LobbyList");
            }
        }
    }
    
    private async Task Start()
    {
        if (!string.IsNullOrWhiteSpace(PlayerName))
        {
            await ProtectedLocalStorage.SetAsync("username", PlayerName);
            Navigation.NavigateTo("/CreateLobby");
        }
    }
}