@page "/tictactoe"
@using PlayTogether.Web.Services
@using PlayTogether.Web.Services
@inject NavigationManager NavigationManager
@inject Roomservice Roomservice
@inject GameService GameService
@inject GameService2 GameService2
@inject GameService3 GameService3
<h3>TicTacToe</h3>

<div style="margin-left: 15px;">
    <button class="restart-button" @onclick="JoinRoom1" style="margin-left: 10px;">Gameroom 1(@Roomservice.Room1 / 2)  </button>
    <button class="restart-button" @onclick="JoinRoom2" style="margin-left: 10px;">Gameroom 2(@Roomservice.Room2 / 2)</button>
    <button class="restart-button" @onclick="JoinRoom3" style="margin-left: 10px;">Gameroom 3(@Roomservice.Room3 / 2)</button>
    <button class = "restart-button" onclick = "location.href='/tictactoebot'" style="margin-left: 10px;">Tic-Tac-Toe Bot</button>
</div>



@code {
   
    private void JoinRoom1()
    { 
        if ( Roomservice.Room1 == 0)
        {
            Roomservice.room1join();
            NavigationManager.NavigateTo("/tictactoe1");
            Console.WriteLine(Roomservice.Room1);
        }
        else if ( Roomservice.Room1 == 1)
        {
            Roomservice.room1join();
            NavigationManager.NavigateTo("/tictactoe12");
            Console.WriteLine(Roomservice.Room1);
        }
        else if( Roomservice.Room1 != 2)
        {
            Roomservice.Room1reset();
        }
    }
    private void JoinRoom2()
    {
        if (Roomservice.Room2 <= 1)
        {
            Roomservice.room2join();
            NavigationManager.NavigateTo("/tictactoe2");
            Console.WriteLine(Roomservice.Room2);
        }
        else if ( Roomservice.Room1 == 1)
        {
            Roomservice.room1join();
            NavigationManager.NavigateTo("/tictactoe22");
            Console.WriteLine(Roomservice.Room2);
        }
        else if( Roomservice.Room1 != 2)
        {
            Roomservice.Room2reset();
        }
    }
    private void JoinRoom3()
    {
        if (Roomservice.Room3 <= 1)
        {
            Roomservice.room3join();
            NavigationManager.NavigateTo("/tictactoe3");
            Console.WriteLine(Roomservice.Room3);
        }
        else if ( Roomservice.Room1 == 1)
        {
            Roomservice.room1join();
            NavigationManager.NavigateTo("/tictactoe32");
            Console.WriteLine(Roomservice.Room3);
        }
        else if( Roomservice.Room1 != 2)
        {
            Roomservice.Room3reset();
        }
    }
}





<style>
.restart-button {
margin: 15px 5px 15px 0;
padding: 12px 24px;
font-size: 1.1rem;
background-color: #007bff;
color: white;
border: none;
border-radius: 6px;
cursor: pointer;
transition: background-color 0.3s ease;
display: inline-block;
}
.button {
    margin: 15px 5px 15px 0;
    padding: 12px 24px;
    font-size: 1.1rem;
    background-color: #ffffff;
    color: black;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
}
.spectator-button {
    margin: 15px 5px 15px 0;
    padding: 12px 24px;
    font-size: 1.1rem;
    background-color: #46D51F;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
}

</style>